<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Site.Title }}</title>
<style>
    body {
        font-family: {{ .Site.Params.font }}, sans-serif;
        font-size: {{ .Site.Params.fontSize }};
        line-height: 1.42857143;
        /* color: #333; */
        margin: 0;
        background-color: {{ .Site.Params.backgroundColor }};
        text-align: center;
        height: 100%;
    }
    h1 {
        font-size: 2.5em;
    }
    .navbar {
        background-color: #f8f8f8;
        border-bottom: 1px solid #e7e7e7;
        min-height: 3rem;
        border-top: {{ .Site.Params.borderWidth }} solid {{ .Site.Params.borderColor }};
        margin-bottom: 1.5rem;
    }
    .nav-container{
        box-sizing: border-box;
        width: 100%;
        max-width: 80rem;
        min-height: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    .nav{
        float: left;
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
    .nav li{
        float: left;
        padding: 0;
    }
    .nav li a{
        color: #777;
        line-height: 20px;
        padding: 15px;
        display: block;
        text-decoration: none;
    }
    button{
        background-color: red;
        color: white;
        border-radius: 0.3rem;
        border: 0px solid white;
        font-weight: bold;
        /* padding: 0.2rem; */
        outline: none;
    }
    button.altbtn {
        background-color: white;
        color: red;
        border: 1px solid red;
    }
    button.txtbtn {
        padding: 0.2em;
    }
    button:hover {
        cursor: pointer;
    }
    button:active {
        color: white;
        background-color: darkred;
    }
    button.altbtn:active {
        color: black;
        background-color: lightgray;
    }
</style>