<!DOCTYPE html>
<html lang="en-us">
    <head>
        {{ partial "head" . }}
    </head>
    <body>
        {{ partial "provnavbar" . }}
        <main>
            <div class="intro">
                <h1>{{ .Title }}</h1>
            </div>
            <div class="content">
                Your Esper is ready to use!<br>
                Set <span id='ip'>XXX.XXX.XXX.XXX</span> as your DNS server for ad blocking.<br>
                Visit esper.dns to view your device,<br>
                and for more information about using your Esper, visit esperdns.co
            </div>
        </main>
        {{ partial "footer" . }}
    </body>
</html>
<script>
    const http = new XMLHttpRequest();
    const url = 'connection.json';
    http.open("GET", url);
    http.send();

    http.onreadystatechange = function() {
        if (http.readyState == 4 && http.status == 200){
            var response = http.responseText.split(/\n/);
            console.log(response);
            var ip_span = document.getElementById("ip");
            ip_span.innerHTML = response[1];
        }
    }
</script>

